body {
    margin: 0;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation Container */
#NavContainer {
    position: relative;
    height: 100vh; /* Full viewport height */
}

/* Fixed Navigation Bar */
#NavBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Make it take the full viewport height */
    width: 10vh; /* Fixed width for the nav bar */
    background-color: rgb(150, 71, 29); /* Add some background for visibility */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form Matching Content */
#formMatching {
    flex-grow: 1;
    position:relative;
    margin-left: 10vh; /* Push the content to the right to account for the fixed nav bar */
    /* border: 2px solid black; */
    width: 90vh; 
    /* Make the form area responsive to the nav bar */
    padding: 20px;
    height:100%;
}

#formMatchingHeader {
    /* text-align: center; */
    position:left;
    margin-top:0;
    border-bottom: 1px solid black;
}

.card {
    background-color: #f4f4f4;
    padding: 20px;
    width:30vh;
    height:30vh;
    background-color: gray;
    margin-bottom: 20px;
    border-radius: 15%;
}

.dynamic-box {
    display:flex;
    flex-wrap:wrap;
    gap:1%;
    /* background-color: #eaeaea; */
    padding: 20px;
    /* border: 1px solid #ccc; */
    margin-top: 20px;
}

/* Style for the formMatchingBar if necessary */
.formMatchingBar {
    color: black;
}
