h1 {
    color: red;
    font-size: 36px;
}

p {
    color: blue;
    font-size: 18px;
    line-height: 1.5;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid black;
}

th {
    background-color: goldenrod;
    color:rgb(14, 99, 78)
}

td {
    background-color: rgb(216, 142, 121);
    color: rgb(65, 14, 104);
}