.react-datepicker-wrapper {
    width: 100%;
  }
  
  .react-datepicker__input-container input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    margin-bottom: 30px; /* Add space between DatePicker and Submit button */
  }
  
  .react-datepicker {
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .react-datepicker__header {
    background-color: #3A7CA5;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    font-size: 16px;
  }
  
  .react-datepicker__day:hover {
    background-color: #f0f0f0;
  }
  
  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected {
    background-color: #3A7CA5;
    color: white;
  }
  
  